@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

input,
textarea {
  outline: none;
  padding: 3px;
  resize: none;
  width: 100%;
  background: #03bd95;
  color: #ffe669;
  border: 2px solid #ffe669;
  padding: 4px;
  border-radius: 10px;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  background: #0f4b4f;
}

nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  background: #03bd95;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 5px;
}
nav .main-link {
  color: #ffe669;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 140px;
  font-family: "Roboto Slab", serif;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
nav ul button {
  margin: 0px 2px;
  font-size: 18px;
  height: 40px;
  width: 80px;
  cursor: pointer;
  background: #0f4b4f;
  color: #ffe669;
  border: 2px solid #ffe669;
  transition: 0.5s ease;
  transition-property: background, color;
  border-radius: 10px;
}
nav ul button:hover {
  background: #ffe669;
  color: #0f4b4f;
  border: 2px solid #ffe669;
}

main {
  width: 350px;
  border: 2px solid #03bd95;
  padding: 5px;
  min-height: 40vh;
  text-align: center;
}
main h1 {
  margin: 5px 0px;
  color: #ffe669;
}
main form {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 280px;
}
main form .text-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
main form .text-container .title {
  height: 30px;
  font-size: 17px;
}
main form .text-container .text {
  height: 100px;
  font-size: 13px;
}
main form .num-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 3px 0px;
}
main form .num-container input {
  width: 50px;
  height: 30px;
  background: #03bd95;
  color: #ffe669;
  border: 2px solid #ffe669;
  font-weight: 600;
}
main form .week-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 3px 0px;
}
main form .week-container .day-container {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main form #main-btn {
  text-transform: capitalize;
  font-size: 20px;
  height: 40px;
  width: 140px;
  cursor: pointer;
  background: #0f4b4f;
  color: #ffe669;
  border: 2px solid #ffe669;
  transition: 0.5s ease;
  transition-property: background, color;
  border-radius: 10px;
}
main form #main-btn:hover {
  background: #ffe669;
  color: #0f4b4f;
  border: 2px solid #ffe669;
}

.todoList {
  width: 100%;
}
.todoList .todo-smol_container {
  width: 100%;
  background: #03bd95;
  border-radius: 10px;
  padding: 3px;
  margin: 5px 0px;
  color: #0f4b4f;
  text-align: start;
}
.todoList .todo-smol_container.completed {
  position: relative;
  width: 100%;
  height: 100%;
}
.todoList .todo-smol_container.completed::after {
  content: "Done";
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  color: #ffe669;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(15, 75, 79, 0.6745098039);
  z-index: 5;
}
.todoList .todo-smol_container .text-icon_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.todoList .todo-smol_container .text-icon_container h2 {
  width: 200px;
}
.todoList .todo-smol_container .text-icon_container .icon-article_container > button,
.todoList .todo-smol_container .text-icon_container .icon-article_container > a button {
  font-size: 15px;
  height: 30px;
  width: 40px;
  cursor: pointer;
  background: #0f4b4f;
  color: #ffe669;
  border: 2px solid #ffe669;
  transition: 0.5s ease;
  transition-property: background, color;
  border-radius: 10px;
  margin: 0px 1px;
}
.todoList .todo-smol_container .text-icon_container .icon-article_container > button:hover,
.todoList .todo-smol_container .text-icon_container .icon-article_container > a button:hover {
  background: #ffe669;
  color: #0f4b4f;
  border: 2px solid #ffe669;
}
.todoList .todo-smol_container .text-icon_container .icon-article_container > button:last-child {
  position: relative;
  z-index: 6;
}
.todoList .todo-smol_container .date-article_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
}
.todoList .todo-smol_container .date-article_container h3 {
  color: #ffe669;
}

.error-page {
  text-align: center;
  color: #03bd95;
}
.error-page .error-page_icon {
  height: 100px;
  width: 100px;
  border: 2px solid #ffe669;
  border-radius: 50%;
  margin: 10px 0px;
}
.error-page h1 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
}
.error-page h3 {
  margin: 10px 0px;
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
}
.error-page p {
  margin: 5px 0px;
}
.error-page p a {
  color: #03bd95;
  transition: 0.5s ease color;
}
.error-page p a:hover {
  color: #ffe669;
}

.loadingWheel {
  width: 100%;
  height: 100%;
  text-align: center;
}
.loadingWheel svg {
  height: 70px;
  width: 70px;
  color: #ffe669;
  animation: rotate 1.3s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */